{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {% for product in products %}
            {# Boucle sur chaque produit dans la liste de produits #}
            <div class="card col-lg-3 col-md-4 col-sm-6 col-10 m-3">
                <img src="{{ asset('upload/' ~ product.medias[0].src) }}" alt="Image du produit" class="card-img-top">     
                <div class="card-body text-center"> {# Début du corps de la carte #}
                    <h5 class="card-title">{{ product.name }}</h5>
                    {# Affiche le nom du produit #}
                    <p class="card-text">Prix: {{ product.price }}€</p>
                    <p class="card-text">Catégorie: {{ product.category.name }}</p>
                    {% if product.reseller == 'BuildGenius' %}
                        <p class="card-text">Vendeur: {{ product.reseller }}</p>
						{% if app.user %}
                            <a href="{{ path('add_cart', {'id': product.id, 'target': 'app_products'}) }}" class="btn btn-warning mt-2">Ajouter au panier</a>
                        {% endif %}
                    {% else %}
                        <p class="card-text">Revendeur: {{ product.reseller }}</p>
                    {% endif %}
                    <a href="{{ path('app_product_detail', {'id': product.id}) }}" class="btn btn-success mt-2">Détail du produit</a>                   
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

