{% extends 'backoffice.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}

	{% if users | length > 0 %}

		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Email</th>
					<th scope="col">Active</th>
					<th scope="col">Token</th>
					<th scope="col">Role</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<th scope="row">{{ user.id }}</th>
						<td scope="row">{{ user.email }}</td>
						<td scope="row">{{ user.active }}</td>
						<td scope="row">{{ user.token }}</td>
						<td scope="row">
							{% for role in user.roles %}
								{{ role }}
							{% endfor %}
						</td>
						<td scope="row">
							{% if user.roles == ['ROLE_USER'] %}

								<a href="{{ url('users_update', {'id' : user.id, 'role' : 'ROLE_ADMIN' }) }}" class="btn btn-success">Passer ADMIN</a>

							{% else %}

								<a href="{{ url('users_update', {'id' : user.id, 'role': 'ROLE_USER' })}}" class="btn btn-danger">Enlever ADMIN</a>

							{% endif %}

							{% if user.active == 1 %}

								<a href="{{ url('users_active', {'id' : user.id, 'active': 0 })}}" class="btn btn-danger">Désactiver</a>

							{% else %}

								<a href="{{ url('users_active', {'id' : user.id, 'active': 1 }) }}" class="btn btn-success">Activer</a>

							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Aucun user pour l'instant</p>
	{% endif %}

{% endblock %}
