{% extends 'base.html.twig' %} {# Étend le modèle de base base.html.twig #}

{% block body %} {# Début du bloc body #}
    <div class="p-5 m-3 border border-1 rounded border-secondary row justify-content-between">
        <div class="col-md-7 row justify-content-between text-center">
            <div class="col-md-6 card text-center">
                   <img src="{{ asset('upload/'~product.medias[0].src) }}" width="200" class="img-fluid" id="preview" alt="Image du produit"> {# Affiche la première image du produit #}
            </div>
            <div class="col-md-6 flex flex-column">
                {% for image in product.medias %} {# Boucle sur chaque image associée au produit #}
                <img src="{{ asset('upload/'~image.src) }}" class="img-thumbnail mt-1" width="100" alt="Image du produit">
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5 border-left border-3 border-left-dark me-5 text-center">
            <h2>{{ product.name }}</h2> {# Affiche le nom du produit #}
            <h3>
                <a href="{{ product.link }}" target='_blank'>{{ product.price }}€</a> {# Affiche le prix avec un lien vers le produit #}
            </h3>
            <h3>{{ product.category.name }}</h3> {# Affiche le nom de la catégorie du produit #}
            <p>{{ product.reseller }}</p> {# Affiche le revendeur du produit #}
            <p>{{ product.description }}</p> {# Affiche la description du produit #}
        </div>
    </div>

{% endblock %} 
