{% extends 'base.html.twig' %}
{% block title %}Question d'Assistance Informatique
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<form action={{path('quiz_support')}} method="post">
					{% if userId %}
						{% for question in questions %}
							{% if question.quiz.id == 1 %}
								<p>{{ question.name }}</p>
								{% for answer in answers %}
									{% if question.id == answer.question.id %}
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="answers[]" id="answer{{ answer.id }}" value="{{ 'Question: ' ~ question.id ~ ' - ' ~ 'Réponse: ' ~ answer.id ~ ' - ' ~ 'Utilisateur: ' ~ userId }}">
											{{ answer.answer }}
										</label>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					<button type="submit" class="btn btn-primary">Soumettre</button>
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>{% endblock %}
